*.log

/.mypy_cache
/.tmp/treatment_smb_cache/

*.pyc

*.json
!web/frontend/package.json
!web/frontend/package-lock.json

*.xml

*.stpmtr

*.txt
!Gamma-spectrometer/requirements*.txt

.idea/pyconlyse.iml
/DeviceServers/DS_DenisBox_Motor.exe
/DeviceServers/OWIS/ps90_64.dll

.DS_Store
