numpy>=1.15.3
matplotlib>=3.0.2
configobj>=5.0.2
zmq>=0.0.0
cryptography
ifaddr
PyQt5==5.13.1
aiohttp
atomicwrites
configobj
cryptography
cython
gpiozero
ifaddr
imutils
matplotlib
msgpack
nidaqmx
numpy
opencv-python
PyQt5
pytest-qt
pywin32; sys_platform == 'win32'
python-socketio
pypylon
pyserial
pyvisa
PyTango
requests
scipy
sip
tables
taurus
vitables
zmq