aiohttp
atomicwrites
configobj
cryptography == 2.9.1  # After 2.9.1 they changed something in import of primitives TODO: Need to solve the problem
gpiozero
ifaddr
matplotlib
msgpack
numpy
PyQt5
pytest-qt
pywin32
python-socketio
scipy
tables
vitables
zmq
