<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>{% block title %}Pyconlyse Project{% endblock %}</title>
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='images/pyconlyse_logo.png') }}" alt="Pyconlyse Logo" class="logo">
    <nav>
      <ul>
        <li><a href="{{ url_for('routes.home') }}">Home</a></li>
        <li><a href="{{ url_for('routes.pyconlyse') }}">Pyconlyse</a></li>
        <li><a href="{{ url_for('routes.equipment') }}">Equipment</a></li>
        <li><a href="{{ url_for('routes.elyse') }}">ELYSE</a></li>
        <li><a href="{{ url_for('routes.tango_page') }}">Tango</a></li>
        <li><a href="{{ url_for('routes.data_treatment') }}">Data treatment</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
<!-- Load jQuery and Bootstrap from local files -->
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>

