{% extends "base.html" %}

{% block title %}ELYSE - Pyconlyse Project{% endblock %}

{% block content %}
<h1>ELYSE Control Panel</h1>
<ul class="nav nav-tabs" id="elyseTabs" role="tablist">
  {% for tab in ["Vacuum", "Fluides", "Modulator", "HT", "HF", "Power_Supply", "Synchronization", "Radioprotection", "Monitoring", "Cameras", "Magnets", "Experiment"] %}
  <li class="nav-item" role="presentation">
    <a class="nav-link {% if loop.first %}active{% endif %}"
       id="{{ tab|lower }}-tab"
       data-bs-toggle="tab"
       href="#{{ tab|lower }}"
       role="tab"
       aria-controls="{{ tab|lower }}"
       aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
      {{ tab }}
    </a>
  </li>
  {% endfor %}
</ul>
<div class="tab-content" id="elyseTabsContent">
  {% for tab in ["Vacuum", "Fluides", "Modulator", "HT", "HF", "Power_Supply", "Synchronization", "Radioprotection", "Monitoring", "Cameras", "Magnets", "Experiment"] %}
  <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
       id="{{ tab|lower }}"
       role="tabpanel"
       aria-labelledby="{{ tab|lower }}-tab">
    {% include "tabs/" ~ tab|lower ~ ".html" %}
  </div>
  {% endfor %}
</div>
{% endblock %}
